<footer class="footer">
	<p>
		Wsexport is a tool under <a rel="licence" href="https://www.gnu.org/licenses/gpl.html">GNU GPLv2+
			licence</a>.<br/>
		The source code is available <a href="https://github.com/wsexport/tool">here</a> and a small documentation <a
			href="https://wikisource.org/wiki/Wikisource:WSexport">here</a>.<br/>
		Some <a href="stat.php">statistics</a> are also provided.
	</p>
	<p>
		Please report issues under the
		<a href="https://phabricator.wikimedia.org/tag/wsexport">#wsexport</a> project on Phabricator:
		<a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=tool-wsexport" class="btn btn-default btn-xs">Create issue</a>
	</p>
</footer>
</div>
</div>
</body>
</html>
