body {
	font-family: f_s, l_l, serif;
	line-height: 1.2;
}

/* images */
div.floatright {
	float: right;
	clear: right;
	position: relative;
	margin: 0.5em 0 0.8em 1.4em;
}

div.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0.5em 1.4em 0.8em 0;
}

.center {
	width: 100%;
	text-align: center;
}

.center * {
	margin-left: auto;
	margin-right: auto;
}

.thumbcaption {
	text-align: left;
	font-size: 95%;
}

div.tright {
	float: right;
	clear: right;
	margin: 0.5em 0 0.8em 1.4em;
}

div.tleft {
	float: left;
	clear: left;
	margin: 0.5em 1.4em 0.8em 0;
}

.small {
	font-size: 94%;
}
