name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - '**'
jobs:
  build:

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: wsexport_test
          MYSQL_ROOT_PASSWORD: testpwd
        ports:
          - '3306:3306'
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php: [ '7.3', '7.4', '8.0', '8.1', '8.2' ]
        epubcheck: [ '4.2.4', '5.0.0' ]
    
    env:
      APP_ENV: test
      DATABASE_URL: mysql://root:testpwd@127.0.0.1:3306/wsexport_test?serverVersion=5.7
      EPUBCHECK_JAR: /home/runner/work/tool/tool/epubcheck-${{matrix.epubcheck}}/epubcheck.jar

    runs-on: ${{matrix.os}}

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}
        extensions: pdo, mysql, pdo_mysql, sqlite3, imagick, zip
        coverage: none

    - name: Install Calibre, epubcheck, and fonts
      run: |
        sudo apt-get update -q
        sudo apt-get install fonts-freefont-ttf fonts-linuxlibertine fonts-dejavu-core fonts-gubbi fonts-opendyslexic libegl1 libopengl0 -y
        sudo mkdir /usr/share/desktop-directories/
        sudo -v && wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sudo sh /dev/stdin
        wget https://github.com/w3c/epubcheck/releases/download/v${{matrix.epubcheck}}/epubcheck-${{matrix.epubcheck}}.zip
        unzip epubcheck-${{matrix.epubcheck}}.zip

    - name: Install WSExport
      run: |
        composer install
        ./bin/console doctrine:migrations:migrate --no-interaction
        npm ci

    - name: Test
      run: |
        composer test
        ./bin/phpunit --exclude-group=exclude-from-ci
        npm test
